{% paginate article.comments by 100 %}
<div id="article" class="row">

  <div class="span9 article">

    <!-- Begin article -->
    <div class="article-body clearfix">
      <h1>{{ article.title }}
        <span class="date" style="display: block;">
        {{ article.published_at | date: format: 'long' }}
        {% if article.comments_enabled? and article.comments_count > 0 %}
        <small>
          <a href="#comments">{{ 'blog.comments.comments_with_count' | t: count: article.comments_count }}</a>
        </small>
        {% endif %}
        </span>
      </h1>
      <div id="article-content">
        {{ article.content }}
      </div>
    </div>
    <!-- End article -->
    
    <!-- Begin social icons -->    
    {% if settings.social_sharing_blog %}
      {% include 'social-sharing' %}
      <hr class="divider" />
    {% endif %} 
    <!-- End social icons -->

    <!-- Begin comments -->
    {% if blog.comments_enabled? %}
    <div id="comments" class="comments">

      {% if article.comments.size > 0 or comment.created_at %}
      <h2 class="comment-title">{{ 'blog.comments.title' | t }}</h2>

      {% if comment and comment.created_at %}
        {% assign comment_date = comment.created_at | date: format: 'long' %}
        <div id="comment-{{ comment.id }}" class="comment border-bottom clearfix">
          <h3 class="author">{{ 'blog.comments.comment_meta_html' | t: author: comment.author, date: comment_date }}</h3>
          <div>{{ comment.content }}</div>
        </div> <!-- /.comment -->
      {% endif %}

      {% for comment in article.comments %}
        {% assign comment_date = comment.created_at | date: format: 'long' %}
        <div id="comment-{{ comment.id }}" class="comment border-bottom clearfix">
          <h3 class="author">{{ 'blog.comments.comment_meta_html' | t: author: comment.author, date: comment_date }}</h3>
          <div>{{ comment.content }}</div>
        </div> <!-- /.comment -->
      {% endfor %}

      {% include 'pagination' %}

      {% endif %}

      <div class="comment_form">
        {% form "new_comment", article %}
        <h2 class="comment-title">{{ 'blog.comments.leave_comment' | t }}</h2>

        {% if form.posted_successfully? %}
        {% if blog.moderated? %}
        <p class="subtext success">{{ 'blog.comments.success_moderated' | t }}</p>
        {% else %}
        <p class="subtext success">{{ 'blog.comments.success' | t }}</p>
        {% endif %}
        {% endif %}

        {% if form.errors %}
        <p class="subtext error">{{ 'blog.comments.error' | t }}</p>
        {% endif %}

        <label for="comment_author">{{ 'blog.comments.name' | t }}</label>
        <input type="text" id="comment_author" name="comment[author]" size="40" class="text" />
        <label for="comment_email">{{ 'blog.comments.email' | t }}</label>
        <input type="text" id="comment_email" name="comment[email]" size="40" class="text" />
        <label for="comment_body">{{ 'blog.comments.comment' | t }}</label>
        <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text">{{form.body}}</textarea>

        {% if blog.moderated? %}
        <p class="notice">{{ 'blog.comments.moderated' | t }}</p>
        {% endif %}

        <input type="submit" value="{{ 'blog.comments.submit' | t }}" class="btn" id="comment-submit" />

        {% endform %}
      </div>
    </div>
    {% endif %}
    <!-- End comments -->

  </div>

  <!-- Begin sidebar -->
  {% include 'blog-sidebar' %}
  <!-- End sidebar -->

</div>
{% endpaginate %}