<!-- Begin slider -->
<div class="span12">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>
<!-- End slider -->

{% if settings.show_fp_images %}
<!-- Begin promo images -->
<div class="row" id="fp-images" style="margin-bottom:25px">
  {% for i in (1..3) %}
  {% capture fp_image %}fp_image_{{ i }}.jpg{% endcapture %}
  {% capture fp_link %}fp_image_{{ i }}_link{% endcapture %}
  {% capture fp_alt %}fp_image_{{ i }}_alt{% endcapture %}
  <div class="span4">
    <a href="{{ settings[fp_link] }}">
      <img src="{{ fp_image | asset_url }}" alt="{{ settings[fp_alt] | escape }}" />
    </a>
  </div>
  {% endfor %}
</div>
<!-- End promo images -->
{% endif %}

{% if settings.homepage != blank %}
<!-- Begin intro -->
<div class="span12 p20">
  <div class="intro clearfix">
    {% unless settings.remove_homepage_title %}
    <h2>{{ pages[settings.homepage].title }}</h2>
    {% endunless %}
    <div>{{ pages[settings.homepage].content }}</div>
  </div>
</div>
<!-- End intro -->
{% endif %}

{% unless settings.frontpage_collection == blank or collections[settings.frontpage_collection].empty? or collections[settings.frontpage_collection].products_count == 0 %}

  {% capture featured_items_title %}{{ 'homepage.sections.featured_items' | t }}{% endcapture %}
  {% unless featured_items_title == blank or settings.remove_featured_products_title %}
  <div class="span12 p10">
    <h2>{{ featured_items_title }}</h2>
  </div>
  {% endunless %}
      
  <div class="row products">
    {% for product in collections[settings.frontpage_collection].products %}
    {% include 'product-loop' with settings.frontpage_collection %}
    {% endfor %}
  </div>

{% endunless %}

{% if settings.show_collections and settings.frontpage_collections != blank and settings.frontpage_collections != 'main-menu' and linklists[settings.frontpage_collections].links.size > 0 %}

  {% capture featured_collections_title %}{{ 'homepage.sections.featured_collections' | t }}{% endcapture %}
  {% unless featured_collections_title == blank or settings.remove_featured_collections_title %}
  <div class="span12 p10">
    <h2>{{ featured_collections_title }}</h2>
  </div>
  {% endunless %}

  <div class="row">
    {% for link in linklists[settings.frontpage_collections].links %}
    {% if link.type == 'collection_link' %}
      {% assign collection = link.object %}
      {% include 'collection-loop' %}
    {% endif %}
    {% endfor %}
  </div>

{% endif %}