<ul class="horizontal unstyled clearfix">
  {% for link in linklists[settings.main_linklist].links %}
  {% if linklists[link.handle] == empty %}
  <li{% if settings.display_collection_dropdown and link.type == 'collection_link' and link.object.tags.size > 0 %} class="dropdown"{% endif %}{% if settings.display_blog_dropdown and link.type == 'blog_link' and link.object.articles.size > 0 %} class="dropdown"{% endif %}>
  <a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}{% if settings.use_cufon_on_navigation %} cufon{% endif %}"><span>{{ link.title }}</span></a>
  {% if settings.display_collection_dropdown and link.type == 'collection_link' and link.object.tags.size > 0 %}
  <ul class="dropdown unstyled">
    {% for tag in link.object.tags %}
    <li><a href="{{ link.url }}?constraint={{ tag | handleize }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if settings.display_blog_dropdown and link.type == 'blog_link' and link.object.articles.size > 0 %}
  <ul class="dropdown unstyled">
    {% for article in link.object.articles %}
    <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% else %}
<li class="dropdown"><a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}{% if settings.use_cufon_on_navigation %} cufon{% endif %}"><span>{{ link.title }}</span></a>
  <div class="dropdown advanced clearfix">
    {% for link2 in linklists[link.handle].links %}
    {% unless linklists[link2.handle] == empty %}
    <div class="menu">
      <h3><a href="{{ link2.url }}">{{ linklists[link2.handle].title }}</a></h3>
      <ul class="unstyled">
        {% for link3 in linklists[link2.handle].links %}
        <li>
          <a href="{{ link3.url }}"{% if link3.url == active_url %} class="current"{% endif %}>{{ link3.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% cycle 'clear-advanced-menu': '', '<div style="clear:both;"></div>' %}
    {% endunless %}
    {% endfor %}
  </div>
</li>
{% endif %}
{% endfor %}
{% include 'customer_links' %}
<li class="show-when-fixed" id="cart-link">
  <a href="/cart">Your cart ({{ cart.item_count }})</a>
</li>
</ul>