{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}
<div class="product span3 {% if template == 'collection' %}adaptive-grid{% endif %}">

  {% if product.available %}
    {% if product.price_min < product.compare_at_price_min %}
      {% if settings.show_sale_circle %}
      <span class="circle sale">{{ 'collections.product_item.sale' | t }}</span>
      {% endif %}
    {% endif %}
  {% else %}
    {% if settings.show_sold_out_circle %}
      <span class="circle sold-out">{{ 'products.general.sold_out_html' | t }}</span>
    {% endif %}
  {% endif %}

  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>

  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>
      {% if settings.product_vendor %}
      <span class="vendor">{{ product.vendor }}</span>
      {% endif %}

      <span class="price">
      {% assign price = product.price | money %}
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
      {% else %}
        {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
        {% unless settings.show_sold_out_circle %}
          {{ 'products.general.sold_out_html' | t }}
        {% endunless %}
      {% endif %}
      </span>

    </a>
  </div>

</div>

{% unless template contains 'collection' %}
{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}
{% endunless %}