<span class="social-links">
{% if settings.facebook_link != '' %}<a href="{{ settings.facebook_link }}" title="{{ 'layout.social.facebook_title' | t }}"><span class="shopify-social-icon-facebook-circle"></span></a>{% endif %}
{% if settings.twitter_link != '' %}<a href="{{ settings.twitter_link }}" title="{{ 'layout.social.twitter_title' | t }}"><span class="shopify-social-icon-twitter-circle"></span></a>{% endif %}
{% if settings.pinterest_link != '' %}<a href="{{ settings.pinterest_link }}" title="{{ 'layout.social.pinterest_title' | t }}"><span class="shopify-social-icon-pinterest-circle"></span></a>{% endif %}
{% if settings.google_link != '' %}<a href="{{ settings.google_link }}" title="{{ 'layout.social.google_title' | t }}" rel="publisher"><span class="shopify-social-icon-googleplus-circle"></span></a>{% endif %}
{% if settings.instagram_link != '' %}<a href="{{ settings.instagram_link }}" title="{{ 'layout.social.instagram_title' | t }}"><span class="shopify-social-icon-instagram-circle"></span></a>{% endif %}
{% if settings.vimeo_link != '' %}<a href="{{ settings.vimeo_link }}" title="{{ 'layout.social.vimeo_title' | t }}"><span class="shopify-social-icon-vimeo-circle"></span></a>{% endif %}
{% if settings.youtube_link != '' %}<a href="{{ settings.youtube_link }}" title="{{ 'layout.social.youtube_title' | t }}"><span class="shopify-social-icon-youtube-circle"></span></a>{% endif %}
{% if settings.tumblr_link != '' %}<a href="{{ settings.tumblr_link }}" title="{{ 'layout.social.tumblr_title' | t }}"><span class="shopify-social-icon-tumblr-circle"></span></a>{% endif %}
{% if settings.atom_link != '' %}<a href="{{ settings.atom_link }}" title="{{ 'layout.social.atom_title' | t }}"><span class="shopify-social-icon-feed-circle"></span></a>{% endif %}
</span>